@keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes vibrate {
    0% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(2px);
    }
  }


/* Общие стили для анимации */
/* Начальные стили для анимируемых элементов */
.animated {
  opacity: 0;
  transform: translateY(100px); /* Начальное смещение вниз */
  transition: opacity 0.7s ease, transform 0.7s ease; /* Плавные переходы */
}

/* Класс для отображения элементов */
.animated.show {
  opacity: 1;
  transform: translateY(0); /* Возврат к исходной позиции */
}



/* Общие стили для анимации */
/* Начальные стили для анимируемых элементов */
.animated2 {
  opacity: 0;
  transform: translateX(350px); /* Начальное смещение вниз */
  transition: opacity 1s ease, transform 1s ease; /* Плавные переходы */
}

/* Класс для отображения элементов */
.animated2.show {
  opacity: 1;
  transform: translateX(0); /* Возврат к исходной позиции */
}



/* Общие стили для анимации */
/* Начальные стили для анимируемых элементов */
.animated3 {
  opacity: 0;
  transform: translateX(-350px); /* Начальное смещение вниз */
  transition: opacity 1s ease, transform 1s ease; /* Плавные переходы */
}

/* Класс для отображения элементов */
.animated3.show {
  opacity: 1;
  transform: translateX(0); /* Возврат к исходной позиции */
}


  
  a {
    color: inherit;
    text-decoration: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  ::selection {
    background-color: #e97777;
    color: #1b1b1b;
  }
  nav {
    width: 100%;
    background-color: #000000;

    bottom: 0;
    height: 100px;
    overflow: hidden;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 140vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  nav li {
    margin: 0;
    float:left;
    display: inline-block;
    height: 70px;
    margin-bottom: 2px;
    line-height: 100px;
    width: 19vw;
    text-align: center;
    color: white;
    transition: background-color 0.5s 0.2s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    transform: translateY(100%);
  }
  nav li.active {
    background-color: #151515;
    color: #efefef;
  }
  
  nav li:nth-child(1) {
    animation: pop 0.5s 0.15s 1 forwards;
  }
  nav li:nth-child(2) {
    animation: pop 0.5s 0.3s 1 forwards;
  }
  nav li:nth-child(3) {
    animation: pop 0.5s 0.45s 1 forwards;
  }
  nav li:nth-child(4) {
    animation: pop 0.5s 0.6s 1 forwards;
  }
  nav li:nth-child(5) {
    animation: pop 0.5s 0.75s 1 forwards;
  }
  nav li:nth-child(6) {
    animation: pop 0.5s 0.9s 1 forwards;
  }
  nav li:nth-child(7) {
    animation: pop 0.5s 1.05s 1 forwards;
  }
  nav li:hover {
    color: #ececec;
  }
  nav li:active {
    background-color: #222;
  }
  nav li:nth-child(1):hover ~ .slide {
    left: 0;
  }
  nav li:nth-child(2):hover ~ .slide {
    left: 20vw;
  }
  nav li:nth-child(3):hover ~ .slide {
    left: 40vw;
  }
  nav li:nth-child(4):hover ~ .slide {
    left: 60vw;
  }
  nav li:nth-child(5):hover ~ .slide {
    left: 80vw;
  }
  nav li:nth-child(6):hover ~ .slide {
    left: 100vw;
  }
  nav li:nth-child(7):hover ~ .slide {
    left: 120vw;
  }
  nav li.slide {
    position: absolute;
    left: -20vw;
    top: 0;
    background-color: #fff;
    z-index: -1;
    height: 2px;
    margin-top: 98px;
    transition: left 0.3s ease;
    transform: translateY(0);
  }
  section {
    background-color: #1b1b1b;
    height: 100vh;
    display: flex;
  }
  section .title {
    max-width: 60%;
    width: 100%;
    align-self: center;
    transform: translateY(-50px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
  }
  section .title span {
    display: inline-block;
    font-size: 5vw;
    color: #efefef;
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    animation: byBottom 1s ease both;
    font-weight: 600;
    letter-spacing: 0.25vw;
  }
  section .title span:last-child {
    font-size: 1rem;
    animation: byBottom 1s 0.25s ease both;
  }
  section .title span a {
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #000000;
  }
  section .title span a::after {
    content: "";
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    animation: linkAfter 0.5s 1s ease both;
  }
  @-moz-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-webkit-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-o-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }


  .follow-cursor {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%) ; /* центрируем кружок */
    position: absolute; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
    z-index: 999; /* чтобы элемент был над остальными элементами */
    pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
    transition: width 2.0s , height 2.0s , border-radius 0.6s , background 3.0s ; /* установка задержки в 2.0s для всех анимируемых свойств */
}

/* Активный класс для кружка при наведении на ссылку */
.follow-cursor_active {
    height: 80px;
    width: 80px;
    border-width: 2px;
    background: rgba(145, 184, 241, 0.32);

}


  
  /* Скрываем декоративный элемент при ширине браузера меньше 992px */
  @media (max-width: 991.98px) {
    .follow-cursor {
      display: none;
    }
  }
  